html {
  color: #004466;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
}

body {
  background-color: #00ffa2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

a,
button {
  background-color: #004466;
  border-radius: 3px;
  border-width: 0;
  color: #00ffa2;
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  display: flex;
  padding: 0.25em;
}

form > label > * {
  flex: 1;
  padding: 0.25em;
}

form > label > *:first-child {
  margin-right: 0.5em;
}

input {
  font-size: 1em;
}
